@font-face
  font-family 'Filson Light'
  src url('../fonts/filson/filson_light.woff2')

@font-face
  font-family 'Filson Book'
  src url('../fonts/filson/filson_book.woff2')

@font-face
  font-family 'Filson Medium'
  src url('../fonts/filson/filson_medium.woff2')


@font-face
  font-family 'Gotham Light'
  src url('../fonts/gotham/gotham_light.otf')

@font-face
  font-family 'Gotham Book'
  src url('../fonts/gotham/gotham_book.otf')

@font-face
  font-family 'Gotham Medium'
  src url('../fonts/gotham/gotham_medium.otf')
